[submodule "ansible/os-hardening"]
	path = ansible/os-hardening
	url = https://github.com/dev-sec/ansible-os-hardening.git
[submodule "ansible/ssh-hardening"]
	path = ansible/ssh-hardening
	url = https://github.com/dev-sec/ansible-ssh-hardening.git
[submodule "ansible/basic-ubuntu"]
	path = ansible/basic-ubuntu
	url = https://github.com/Servers-for-Hackers/ansible-basic-server.git
[submodule "ansible/user"]
	path = ansible/user
	url = https://github.com/Servers-for-Hackers/ansible-user-example.git
[submodule "ansible/firewall"]
	path = ansible/firewall
	url = https://github.com/Servers-for-Hackers/ansible-firewall.git
[submodule "ansible/fail2ban"]
	path = ansible/fail2ban
	url = https://github.com/Servers-for-Hackers/ansible-fail2ban.git
[submodule "ansible/telegraf"]
	path = ansible/telegraf
	url = https://github.com/dj-wasabi/ansible-telegraf.git
