# Read metrics from one or many postgresql servers
[[inputs.postgresql_extensible]]
  address = "host=localhost user=postgres sslmode=disable"
{% if input.databases|default(false) %}
  ## A list of databases to pull metrics about. If not specified, metrics for all
  ## databases are gathered.
  databases = ["{{ input.databases|join('", "') }}"]
{% endif %}
{% if input.outputaddress|default(false) %}
  outputaddress = "{{ input.outputaddress }}"
{% endif %}
{% for query in input.queries %}
  [[inputs.postgresql_extensible.query]]
    sqlquery="{{ query.sqlquery }}"
    version={{ query.version|default(901) }}
    withdbname={{ query.withdbnam|default('false') }}
    tagvalue="{{ query.tagvalue|default('') }}"
{% if query.measurement|default(false) %}
    measurement="{{ query.mearsurement }}"
{% endif %}
{% endfor %}
