# HTTP/HTTPS request given an address a method and a timeout
[[inputs.http_response]]
  address = "{{ input.address }}"
  response_timeout = {{ input.response_timeout|default(5) }}
  method = "{{ input.method|default('GET') }}"
  follow_redirects = {{ input.follow_redirects|default(false)|bool|lower }}
{% if input.headers|default(false) %}
  [inputs.http_response.headers]
{% for k,v in input.headers.iteritems() %}
    {{ k }} = "{{ v }}"
{% endfor %}
{% endif %}
{% if input.body|default(false) %}
  ## Optional HTTP Request Body
  body = '''
  {{ input.body }}  '''
{% endif %}
